SENSORBERGSDK_VERSION_STRING = 0.7.9
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SENSORBERGSDK_VERSION="@\""$(SENSORBERGSDK_VERSION_STRING)"\""
OTHER_LDFLAGS = $(inherited) -ObjC -framework CoreBluetooth -framework CoreGraphics -framework CoreLocation -framework Foundation -framework MobileCoreServices -framework Security -framework SystemConfiguration -read_only_relocs suppress
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = YES
